{% extends 'base.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block titreH1 %}{{ block("title") }}{% endblock %}

{% block body %}
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Termes</th>
                <th>Nb de livres</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.libelle }}</td>
                <td>{{ genre.termes }}</td>
                <td>{{ genre.livres|length }}</td>
                <td>
                    <a href="{{ path('app_admin_genre_show', {'id': genre.id}) }}"><i class="bi-eye"></i></a>
                    <a href="{{ path('app_admin_genre_edit', {'id': genre.id}) }}"><i class="bi-pencil"></i></a>
                    {{ include('admin/genre/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_genre_new') }}"class="btn btn-primary"><i class="bi-plus"></i> Nouveau</a>
{% endblock %}
