{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block titreH1 %} {{ block('title') }} {% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunt.id }}</td>
            </tr>
            <tr>
                <th>Sortie</th>
                <td>{{ emprunt.sortie ? emprunt.sortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Retour</th>
                <td>{{ emprunt.retour ? emprunt.retour|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('app_admin_emprunt_edit', {'id': emprunt.id}) }}"><i class="bi-pencil"></i></a>
{% endblock %}
