{% extends 'base.html.twig' %}

{% block title %}Liste des abonnés{% endblock %}

{% block titreH1 %}
    {# La fonction twig 'block' retourne le contenu d'un block. On peut l'utiliser pour copier le contenu d'un block dans un autre block. #}
    {{ block("title") }}
{% endblock %}

{% block body %}

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Autorisations</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.pseudo }}</td>
                <td>{{ abonne.autorisations }}</td>
                <td>{{ abonne.identite }}</td>
                <td>
                    <a href="{{ path('app_admin_abonne_show', {'id': abonne.id}) }}"><i class="bi-eye"></i></a>
                    <a href="{{ path('app_admin_abonne_edit', {'id': abonne.id}) }}"><i class="bi-pencil"></i></a>
                    {{ include('admin/abonne/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_abonne_new') }}"class="btn btn-primary"><i class="bi-plus"></i> Nouveau</a>
{% endblock %}
